# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* Python
* SQL
* Github

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. pandas
3. Matplotlib

| Data Science Tools |
|-------------------|
| Jupyter Notebook  |
| RStudio           |
| VS Code           |

### Examples of Evaluating Arithmetic Expressions in Python

In this section, we'll explore a few examples of evaluating arithmetic expressions in Python.

In [ ]:
# This is a simple arithmetic expression to multiply then add integers.

In [1]:
(3 * 4) + 5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60.

In [3]:
200/60

3.3333333333333335

## Author
Sahej